# Server Configuration
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

# OpenRouter API Configuration
# Get your API key from https://openrouter.ai/
#Google: Gemma 3 27B (free)
OPENROUTER_API_KEY=
OPENROUTER_REFERER=
OPENROUTER_TITLE=

# Gemini API Configuration
# Get your API key from https://developers.generativeai.google/
GEMINI_API_KEY=
GEMINI_MODEL_NAME=
GOOGLE_BASE_URL=

#Groq API Configuration
# Get your API key from https://www.groq.com/
GROQ_API_KEY=
GROQ_MODEL_NAME=
GROQ_BASE_URL=
GROQ_TEMPERATURE=0.7
GROQ_MAX_TOKENS=1024